{% extends 'base.html.twig' %} 
 {% block body %}

 <h1>{{ post.title }}</h1>{% if is_granted('ROLE_ADMIN') %}  
 <a href="{{ path('delete', {'id': post.id }) }}">usun</a>
 {% endif %}
 <h3>{{post.content}}</h3>
{#Sprawdzenie czy użytkownik zalogowany#}
{% if app.user %}
{#    Generowanie formularza komentowania#}
    {{ form_start(form, {'action': path('addcomment', {'id': post.id } )}) }}
{#    #}
     {{ form_widget(form) }}
     <input type="submit" value="Dodaj komentarz"
           class="btn btn-default pull-left" />
     {{ form_end(form) }}
{#Jeśli użytkownik nie jest zalogowany to#}
{% elseif not app.user %}  
    komentowanie jest dozwolone tylko dla zalogowanych użytkowników
{% endif %}    
{#Wyświetlanie komentarzy#}
     </br></br></br>
     {% for com in comment %}
     {% if is_granted('ROLE_ADMIN') %}  
 <a href="{{ path('deletecom', {'id': com.id}) }}">usun</a>
    {% endif %}
        <h4>{{ com.author }}</h4> {{ com.publicationdate|date('Y-m-d H:i:s') }}
        <h6>{{ com.content }}</h6>
    {% endfor %}
        
 {% endblock %}
