{% extends 'base.html.twig' %} 
 {% block body %}

<h1>{{ post.title }}<h1>
<h3 class="h3">{{post.content}}</h3>
{{ form_start(form) }}
     {{ form_widget(form) }}
     <input type="submit" value="Dodaj komentarz"
           class="btn btn-default pull-left" />
     {{ form_end(form) }}
     </br></br></br>
     {% for com in comment %}
        <h4>{{ com.author }}</h4>
        <h6>{{ com.content }}</h6>
    {% endfor %}
 {% endblock %}
